<div class="footer">
    <div class="footer-div">
        <div class="footer-content">
            <div class="footer-heading">Get to Know Us</div>
            <div class="footer-body">
                <div class="footer-link link">About Us</div>
                <div class="footer-link link">Contact Us</div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-heading">Connect with Us</div>
            <div class="footer-body">
                <div class="footer-link link">Facebook</div>
                <div class="footer-link link">Instragram</div>
                <div class="footer-link link">Youtube</div>
                <div class="footer-link link">Twitter</div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-heading">Help</div>
            <div class="footer-body">
                <div class="footer-link link">Payment</div>
                <div class="footer-link link">Shipping</div>
                <div class="footer-link link">Shipping</div>
                <div class="footer-link link">Cancellation & Returns</div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-heading">Office Address</div>
            <div class="footer-body">
                <div class="footer-link">Sabitri Nage, Uttar Pradesh</div>
                <div class="footer-link">Noida, 875644</div>
                <div class="footer-link">Uttar Pradesh, India</div>
                <div class="footer-link">Mobile No. : 8866543345</div>
            </div>
        </div>
    </div>
</div>