.footer {
    background-color: #F2F2F2;
    box-shadow: 0 3px 6px #00000029;
    border-top: 1px solid #F2F2F2;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .footer-div {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 2rem);
        padding: 0.5rem;

        .footer-content {
            display: flex;
            flex-direction: column;

            .footer-heading {
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                border-bottom: 1px solid darkblue;
            }

            .footer-body {
                margin-top: 0.5rem;

                .footer-link {
                    line-height: 30px;
                }

                .link {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                        color: #0a66c2;
                    }
                }
            }
        }
    }
}